* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#image-container {
    flex-shrink: 0;
    width: 200px;
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    overflow: hidden;
    transform: rotate(15deg);
}

.image {
    flex-shrink: 0;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    animation: move 15s linear infinite alternate;
    user-select: none;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes move {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(500%);
    }
}

#image-container:nth-child(2) .image {
    animation-direction: alternate-reverse;
}

#image-container:nth-child(3) {
    flex-direction: column-reverse;
    justify-content: flex-start;
}

#image-container:hover .image {
    animation-play-state: paused;
}